---
import Icon from "../components/Icon.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<Icon name="mdi:account" />
		<Icon name="simple-icons:astro" />
		<Icon name="simple-icons:react" />
		<!--
			FIXME: astro SSR doesn't seem to have an error handler
			so if the icon is not included in the build, here it just
			get's stuck
		-->
		<!-- <Icon name={"simple-icons:" + icon} /> -->
	</body>
</html>
